
branches:
  only:
  - master
  - frontend

language: python
python:
  - 3.8
services:
  - docker

install:
  - pip install -r requirements.txt

before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

script:
  - docker build -t paradous/resa-chatbot:latest .

deploy:
  provider: script
  script:
    docker push paradous/resa-chatbot:latest;
  on:
    branch: master