
# MS Bot Framework
botbuilder-core==4.11.0
botbuilder-integration-aiohttp==4.11.0
botbuilder-schema==4.11.0
botframework-connector==4.11.0
botbuilder-dialogs==4.11.0
aiohttp==3.6.2

# Preprocessing
beautifulsoup4==4.9.3
spacy==3.0.1
Unidecode==1.1.2
word2number==1.1
contractions==0.0.45

# Classification
transformers==4.2.2
torch==1.7.1
requests==2.23.0

# Matching
polyfuzz==0.2.2
toml==0.10.2
pandas==1.2.1

